@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}

div.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 30px 1fr 30px;
    grid-template-columns: 1fr 150px;
    gap: 2px;

}
div.topo {
    background-color: brown;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: center;
    align-content: center;
}
div.menu {
    background-color: aqua;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    text-align: center;
    align-content: center;

}
div.principal {
    background-color: blueviolet;
    grid-row: 3 / -2;
    grid-column: 1 / -2;
    text-align: center;
    align-content: center;
}

div.secundario {
    background-color: rgb(13, 56, 56);
    grid-row: 3 / -2;
    grid-column: -2 / -2;
    text-align: center;
    align-content: center;
}
div.rodape {
    background-color: dimgray;
    grid-row: -2 / -1;
    grid-column: 1 / -1;
    text-align: center;
    align-content: center;
}
